# Configuración de Conexión a Base de Datos MySQL
# Credenciales del contenedor / Railway / Coolify
DB_HOST=consuldatio-bbddencuestapapa-9zupcr
DB_PORT=3306
DB_USER=mysql
DB_PASSWORD=msodtssapus5soxz
DB_NAME=mysql

# Puerto del servidor API
PORT=3001
CORS_ORIGIN=*
